@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  background-color: #e5c0fc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  padding-top: 0.5rem;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  min-width: 12em;
  max-height: 20em;
}

.note-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.edit-and-delete-icon {
  padding: 0.5rem;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.note-title {
  font-size: larger;
  font-weight: bolder;
}

.newNote {
  background-color: #b770fa;
}

textarea {
  border: none;
  resize: none;
  background-color: #b770fa;
  width: 18em;
  overflow: auto;
}

textarea::-webkit-scrollbar {
  display: none;
}

.textarea-title {
  overflow:-moz-hidden-unscrollable;
}

textarea:focus {
  outline: none;
}

/*.edit-and-delete-icon:hover {
  color: #1640f7;
}*/

textarea::placeholder {
  color: black;
}

.noteText {
  height: 12em;
}

.textarea-custom {
  width: calc(100% - 0.1em);
}

.untypeable-textarea {
  pointer-events: none;
}

.searchBar {
  border: none;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, rgba(94,255,196,1) 0%, rgba(0,179,255,1) 100%);
  border-radius: 0.6em;
  padding: 0.25em;
  margin: 0.4em;
}

.searchBar input {
  border: none;
  background-color: transparent;
}

.searchBar input:focus {
  border: none;
  outline: none;
}

.toggle-button {
  background-color: #ecb3ff;
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  max-height: 2.5em;
}

.dark-mode {
  background-color: #202121;
}

.dark-mode .only-header-text {
  color: white;
}

/**small screens*/
@media (max-width: 590px) {
  .header-title {
    font-size: 54px;
    font-weight: bold;
    margin-left: 10px;
  }
  .header-username {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  .tg-btn-sm {
    margin-right: 8px;
    font-size: 10px;
    font-weight: 600;
    align-self: right;
    margin-bottom: 8px;
  }
  .tg-btn-bg {
    display: none;
  }
}

/**bigger screens*/
@media (min-width: 590px) {
  .header-title {
    font-size: 84px;
    font-weight: bold;
    margin-left: 10px;
  }
  .header-username {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  .tg-btn-bg {
    margin-right: 10px;
  }
  .tg-btn-sm {
    display: none;
  }
}