@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dot {
  height: 8vw;
  width: 8vw;
  background-color: yellow;
  border-radius: 50%;
  font-size: 1.2vw;
  font-weight: bolder;
  text-decoration: underline;
  transition: 1s;
}

.dot:hover {
  background-color: cornsilk;
  height: 9vw;
  width: 9vw;
  transition: 1s;
}

.header-title {
  font-size: 7vw;
  font-weight: bolder;
  margin-left: 10px;
  line-height: 1em;
  font-family: Garamond, serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 1vw;
}

.bButton {
  width: 8vw;
  height: 6vw;
  background-color: blanchedalmond;
  outline: 0.2vw solid brown;
  margin-left: 6vw;
  font-family: 'papyrus';
  font-size: 1.4vw;
  font-weight: bolder;
  text-decoration: underline;
}

.bButton:hover {
  background-color: brown;
}

.bottom-buttons {
  position: absolute;
  right: 30vw;
}

.play-button {
  background-color: blueviolet;
}

.play-button:hover {
  background-color: blue;
}

.rules-box {
  width: 40vw;
  height: 60vh;
  background-color: blanchedalmond;
  outline: 0.2vw solid brown;
  padding: 1vw;
  margin: 1vw;
  text-align: center;
  font-family: 'Lucida Handwriting';
  font-size: x-large;
}

.level-button {
  width: 5vw;
  height: 5vw;
  background-color: #f2aa61;
  outline: 0.2vw solid #3d1000;
  font-family: 'papyrus';
  font-size: 3.5vw;
  text-align: center;
  margin: 1vw;
  margin-left: 12vw;
}

.level-button:hover {
  background-color: #452a20;
}

/** nice sky blue: #28e4fc */